div.document div.documentwrapper {
  max-width: 100%;
}

th {
  text-align: left;
  background-color: #e8e8e8;
}

:root[data-mode=dark] th {
  background-color: #383838;
}

:root[data-mode=darkest] th {
  background-color: #181818;
}

div.document table.docutils td {
    padding: 0 0.5em 0 0.25em;
    vertical-align: top;
}

div.document table.docutils th {
    padding: 0 0.5em 0 0.25em;
    vertical-align: top;
}

